{% extends "base.html.twig" %}
{% block stylesheets %}
{% endblock %}
{% block title %}Python Page{% endblock %}
 {% block body %}
    <style>
       body{
            padding: 0px 20px;
            margin: 50px;
       }


    img{
       border-radius: 10px;
       box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
       display: block;
        }
           
        </style>
 <section class="ab">
        <p></p>
        <article class="">
        <h2>Python Language</h2>
        </div>
        <div class="contanent>
        <embed(fopen(/path/to/image, 'r'), 'logo')
<img src="cid:logo"> 
        <img src="{{ asset('images/python.png') }}" alt="Symfony!"/>
        <p>
        <h3> Python : Défenition</h3>
        Python est le langage de programmation open source le plus employé par les informaticiens. Ce langage s’est propulsé en tête de la
        gestion d’infrastructure, </br>d’analyse de données ou dans le domaine du développement de logiciels. En effet, parmi ses qualités, Python 
        permet notamment aux développeurs de se concentrer sur ce qu’ils font plutôt </br>que sur la manière dont ils le font. Il a libéré les 
        développeurs des contraintes de formes qui occupaient leur temps avec les langages plus anciens. Ainsi, développer du code avec Python 
        est plus rapide qu’avec d’autres langages.
        Il reste aussi accessible pour les débutants, à condition de lui consacrer un peu de temps pour la prise en main. De nombreux tutoriels 
        sont d’ailleurs disponibles pour l’étudier sur des sites Internet spécialisés ou sur des comptes Youtube. Sur les forums d'informatique,
        il est toujours possible de trouver des réponses à ses questions, puisque beaucoup de professionnels l'utilisent. 
     
     <h3>   Python : ses origines</h3>
Au milieu des années 80, un Néerlandais du nom de Guido van Rossum travaillait sur un projet éducatif. Ce projet consistait à créer un 
langage pour les nouveaux codeurs, appelé ABC. </br>En participant à cette initiative, Guido van Rossum s’est intéressé à la conception des 
langages. Il a ensuite commencé à travailler sur Python. Il a pris des décisions peu communes, qui ont permis à Python de se démarquer de 
l’esprit du temps à l’époque.

L’une des décisions de Van Rossum a été de rendre l’indentation significative, ce qui est inhabituel dans les langages de programmation. 
</br>Certains critiques pensent que cela rendrait le langage difficile à utiliser. Mais cette caractéristique</br> explique en partie pourquoi Python 
est à la fois lisible et populaire. Le style et la lisibilité du code sont améliorés par la façon dont il est possible d’écrire Python.

Une grande partie de la conception de Python consiste à encourager les développeurs à prendre de bonnes décisions, afin que le code Python 
soit plus lisible. Si l’indentation </br>fait partie intégrante de Python, </br>beaucoup d’autres choses ne le sont pas, de sorte que pour écrire un bon code Python, il faut être un codeur responsable. Contrairement à Java, Python fait en sorte que le code ne soit pas réprimandé si une variable ou une fonction porte un nom particulier. En outre, il n’est pas nécessaire de définir un type.

<h3> Langage Python : quels sont les principaux avantages ?</h3> 
python avantages
Le langage Python doit sa popularité à plusieurs avantages qui</br> profitent aussi bien aux débutants qu’aux experts. Tout d’abord, il est 
facile à apprendre et à utiliser. Ses caractéristiques sont peu nombreuses, ce qui permet de créer des programmes rapidement et avec peu 
d’efforts. De plus, sa syntaxe est conçue pour être lisible et directe.

Un autre avantage du Python est sa popularité. Ce langage fonctionne sur tous les principaux systèmes d’exploitation et plateformes 
informatiques. De plus, même s’il ne s’agit clairement pas du langage le plus rapide, </br>il compense sa lenteur par sa versatilité.

Enfin, même s’il est principalement utilisé pour le scripting et l’automatisation, ce langage est aussi utilisé pour créer des logiciels 
de qualité professionnelle. Qu’il s’agisse d’applications ou de services Web, le Python est utilisé par un grand nombre de développeurs pour 
créer des logiciels.
  </p>
        </div> 
        </article>
        </section>
 {% endblock %}
{% block javascripts %}{% endblock %}
