 {% extends "base.html.twig" %}
{% block stylesheets %}
{% endblock %}
{% block title %}Java Page{% endblock %}
 {% block body %}
    <style>
       body{
            padding: 0px 20px;
            margin: 50px;
       }


    img{
       border-radius: 10px;
       box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
       display: block;
        }
           
        </style>
 
 <section class="articls">
        <p></p>
        <article class="">
        <h2>Java Language</h2>
        </div>
        <div class="contanent>
        <embed(fopen(/path/to/image, 'r'), 'logo')
<img src="cid:logo"> 
        <img src="{{ asset('images/java.png') }}" alt="Symfony!"/>
        <p>
         <h3> Java : Défenition </h3>
        Java est une technique informatique développée initialement par Sun Microsystems puis acquise par Oracle à la 
        suite du rachat de l'entreprise. Défini à l'origine comme un langage de programmation, </br>Java a évolué pour 
        devenir un ensemble cohérent d'éléments techniques et non techniques. Ainsi, la technologie Java regroupe :
        Des standards (la plate-forme Java) définis sous forme de spécification par le Java Community Process (JCP), 
        en trois éditions :
          Java SE (standard edition),
          Java EE (enterprise edition), s'appuyant sur Java SE,
          Java ME (micro edition), indépendante des deux précédentes ;
        Des logiciels (langages informatiques, bibliothèques, frameworks, serveurs d'application, outils d'aide au 
        développement), dont :
          Des implémentations (concurrentes) de ces spécifications,
        Un écosystème d'autres logiciels s'appuyant sur tout ou partie de ces standards, voire leur faisant concurrence ;
        Des communautés d'entreprises, organisations à but non lucratif (fondations, Java User Groups, universités) et 
        indépendants, membres ou non du JCP, possédant tout ou partie des marques, brevets, parts de marché liés à la 
        technologie Java. 
        Java est un des termes les plus connus du monde de l'informatique et de l'Internet. Sa notoriété est telle que  
        Sun, avant d'être acheté par Oracle Corporation, a décidé de l'utiliser pour son symbole boursier au Nasdaq, 
        symbole qui était SUNW à l'origine, et est devenu JAVA1.
        Java est utilisé dans une grande variété de plates-formes depuis les systèmes embarqués et les téléphones mobiles, les ordinateurs individuels, les serveurs, les applications d’entreprise, les superordinateurs, etc.
       Types de données
<h3>Java : Types primitifs</h3>
Le tableau :liste l’ensemble des types primitifs de données de Java.
En plus de ces types primitifs, le terme void est utilisé pour spécifier le retour vide ou une
absence de paramètres d’une méthode. On peut remarquer que chaque type primitif possède une
classe qui encapsule un attribut du type primitif. Par exemple, la classe Integer encapsule un
attribut de type int et permet ainsi d’effectuer des opérations de traitement et des manipulations
qui seraient impossibles sur une simple variable de type int.
A l’inverse du langage C, Java est un langage très rigoureux sur le typage des données. Il est interdit d’affecter à une variable la valeur d’une variable d’un type différent¹si cette seconde variable
n’est pas explicitement transformée. </br>
<h3>Tableaux et matrices</h3>
Une variable est déclarée comme un tableau dès lors que des crochets sont présents soit après
son type, soit après son identificateur.
        </p>
        </div> 
        </article>
        </section>
{% endblock %}
{% block javascripts %}{% endblock %}
